<h3>Search Object via ID</h3>
<%= form_with(url: select_path, method: :get, local: true) do %>
 <div>
    <%= label_tag :object_id, "Enter Object ID:" %>
    <%= text_field_tag :object_id %>
 </div>
 <div>
    <%= submit_tag "Display Object" %>
 </div>
<% end %>

<% if @object %>
 <h1><%= @object[:name] %></h1>
 <p>ID: <%= @object[:id] %></p>
 <% if @object[:data] %>
  <p>Data:</p>
  <ul>
  <% @object[:data].each do |key, value| %>
    <li><%= key.humanize %>: <%= value %></li>
  <% end %>
  </ul>
 <% else %>
   <p>No additional data found.</p>
 <% end %>
<% else %>
 <p>No object found.</p>
<% end %>
<br>
<br>



<h1>Add an Object</h1>
<%= form_with(url: add_path, method: :post, local: true) do %>
  <div>
    <%= label_tag :name, "Name:" %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :year, "Year:" %>
    <%= text_field_tag :year %>
  </div>
  <div>
    <%= label_tag :price, "Price:" %>
    <%= text_field_tag :price %>
  </div>
  <div>
    <%= label_tag :model, "Model:" %>
    <%= text_field_tag :model %>
  </div>
  <div>
    <%= submit_tag "Add Object" %>
  </div>
<% end %>